<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>BLOG</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/send_url.js"></script>
</head>

<body>
  <%- topHeader 
  <div class="top">
    <div class="wrapper">
      <div class="content">
        <h2>Alfad Blog's</h2>
        <h1>BLOG</h1>
        <img src="/images/collab.png" alt="">
        <p>Sebuah blog ringan tentang pemrograman.<br>Berikut ini adalah beberapa pengetahuan yang akan saya bagikan.
        </p>
        <a class="btn" href="/list">Mulai membaca</a>
      </div>
    </div>
  </div>
</body>

</html>