    
    <div class="topHeader">
        <ul>
          <% if(locals.isLoggedIn) { %>
            <li><a href="/logout">Logout</a></li>
            <% }else{ %>
              <li><a href="/signup">Daftar</a></li>
              <li><a href="/login">Login</a></li>
              <% }; %>
        </ul>
    </div>